<%- include("partials/_header.ejs") %>
<main>
    <div class="adminWrapper">
        <%- include("partials/_adminMenu.ejs") %>
        <h1>Hej admin <%= user.name %>!</h1>
    </div>
</main>
<%- include("partials/_footer.ejs") %>