<%- include("partials/_header.ejs") %>
<main>
    <div class="checkMailWrapper">
        <p>Ett mejl har skickats till <%= email %>, det kan ta några minuter innan det kommer fram. Om mejlet inte har kommit fram kan det ligga i skräpposten. Observera att länken i mejlet är temporär och fungerar bara i 10 minuter.</p>
    </div>
</main>
<%- include("partials/_footer.ejs") %>