<%- include("partials/_header.ejs") %>
<main>
  <div class="mainText">
    <h1>Kändishälsningar - Personliga videohälsningar från kändisar</h1>
    <h2>Just nu får du 10% rabatt på ditt första köp!</h2>
  </div>
  <div class="popularProducts">
    <div>
      <p class="imgTopText">Poppis!</p>
      <a href="productDetails/605afd6b6f6df929b815b6f9"><img src="/images/Mandelmanns.jpg"/></a>
      <p>Mandelmanns</p>
      <a href="/productDetails/605afd6b6f6df929b815b6f9" class="productPrice">1500 KR</a>
    </div>
    <div>
      <p class="imgTopText">Poppis!</p>
      <a href="productDetails/605857103486fa3de88a9ce5"><img src="/images/Zlatan.jpg"/></a>
      <p>Zlatan Ibrahimovic</p>
      <a href="/productDetails/605857103486fa3de88a9ce5" class="productPrice">3000 KR</a>
    </div>
    <div>
      <p class="imgTopText">Poppis!</p>
      <a href="/productDetails/605857833486fa3de88a9ce8"><img src="/images/Greta.jpg"/></a>
      <p>Greta Thunberg</p>
      <a href="/productDetails/605857833486fa3de88a9ce8" class="productPrice">1000 KR</a>
    </div>
  </div>
</main>
<%- include("partials/_footer.ejs") %>
