<%- include("partials/_header.ejs") %>
<main>
    <div class="passwordChangedWrapper">
        <p>Ditt nya lösenord har sparats.</p>
        <a href="/login">Tillbaka till login</a>
    </div>
</main>
<%- include("partials/_footer.ejs") %>