<%- include("partials/_header.ejs") %>
<main>
  <div class="resetPasswordWrapper">
    <% if (error) { %>
      <p><%= error %></p>
      <% } %>
      <p>
        Fyll i din mejladress för att få ett mejl med en länk för att återställa
        ditt lösenord.
      </p>
      <form action="/resetpassword" method="post">
        <input type="email" name="email" id="emailInput" placeholder="E-postadress" />
        <div>
          <button type="submit">Skicka</button>
          <a href="/login">Tillbaka</a>
        </div>
      </form>
  </div>
</main>
<%- include("partials/_footer.ejs") %>