.passwordChangedWrapper {
    a {
      text-transform: uppercase;
      font-size: 2.4rem;
      background-color: white;
      box-shadow: 0.3rem 0.3rem $borderColor;
      border: 0;
      color: $borderColor;
      padding: 0rem 0.8rem;
    }
    a:hover {
      background-color: #c3c7ec;
    }
}